In [66]:

#LISTAS

alunos = ['Ana', 'Amanda', 'Bruno', 'João']
notas = [10, 9, 8, 7]

#Exibir a terceira nota da lista notas

print(alunos[0])

#Exibir a terceira nota da lista notas

print(alunos[2])

Ana
Bruno

In [67]:
#Selecionar uma fatia dos dados (Amanda e Bruno)

alunos[1:23]

['Amanda', 'Bruno', 'João']

In [68]:
#Selecionar apenas os nomes Bruno e João 

alunos[2:]

['Bruno', 'João']

In [69]:
#Identificando o tipo de informação

type(notas)

list

In [70]:
#Exercício 01 - Crie uma lista com nomes de 4 times de futebol.

#a) Palmeiras
#b) São Paulo
#c) Santos
#d) Corinthians
#e) Acesse o time que está na 3a posição.
#f) Crie uma lista com duas listas de 3 times de futebol, cada uma de uma divisão diferente.

times = ['Palmeiras', 'São Paulo', 'Santos', 'Corinthians']

print(times[2])

Santos

In [71]:
serie_A = ['Palmeiras', 'São Paulo', 'Santos', 'Corinthians']
serie_B = ['Guarani', 'Curitiba', 'Sport', 'Juventude']

lista_times = [serie_A, serie_B]


print(lista_times)

[['Palmeiras', 'São Paulo', 'Santos', 'Corinthians'], ['Guarani', 'Curitiba', 'Sport', 'Juventude']]

In [72]:
lista_times[0][2]

'Santos'

In [73]:
#Exercício 02 - Crie uma lista com 3 diferentes moedas. Acrescente mais 2 outras moedas à essa mesma lista.

moeda = ['Dolar', 'Real', 'Libra']

moeda.append('Peso')
moeda.append('Rand')

moeda

['Dolar', 'Real', 'Libra', 'Peso', 'Rand']

In [80]:
#Exercício 03 - Crie uma string com a lista do exercício anterior.

supermercado = ['Batata', 'Óleo', 'Margarina', 'Café']

listaConvertida = ";".join(supermercado)

print(listaConvertida)

print(type(listaConvertida))

Batata;Óleo;Margarina;Café
<class 'str'>

In [81]:
#Exercício 04 - Crie uma string com a lista do exercício anterior.


lista = listaConvertida.split(';')

print(lista)

print(type(lista))

['Batata', 'Óleo', 'Margarina', 'Café']
<class 'list'>

In [ ]:
#Exercício 05 - Crie um dicionário chamado cardápio em que as chaves são os dias da semana e os respectivos valores sejam os pratos do dia.

Tuplas (tuple)

- Criamos utilizando parenteses

- Separamos

- Após sua definição, não podemos alterar sua estrutura

In [85]:
valores = (90, 79, 54, 32, 21)
pontos = (100, 94, 5, 86, 8, 62)

print(type(valores))

print(type(pontos))

<class 'tuple'>
<class 'tuple'>

In [99]:
my_list = [1,2]

my_tuple = (1,2)

my_list[0] = 10

print(my_list)

try:
    
    my_tuple[1] = 3
    except TypeError:
    
    print('Não é possível modificar uma tupla')

[10, 2]
Não é possível modificar uma tupla

In [111]:
def sum_and_product (x,y):

    return (x + y), (x * y)

In [116]:
print(sum_and_product (10,5))
print(type(sum_and_product (10,5)))

(15, 50)
<class 'tuple'>

In [135]:
##Dicionarios

#Dicionarios são estruturas chave: Valor que permite associar valores a um identificador.

   #- É criado com chaves {}
   
   # Permite alteração
   
#ex: {'Ana' : 10, 'Jorge' : 5, 'Maria' : 10}


altura = {
    'Amanda': 1.65,
    'Ana' : 1.60,
    'João' : 1.50
}

peso = {
    'Amanda': 60,
    'Ana' : 58,
    'João' : 100
}

print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>

In [118]:
print(altura['Ana'])
print(peso['Ana'])

1.6
58

In [137]:
exemplo = {
    
    'seg' : ['lasanha congelada', 'feijoada', 'sarapatel'],
    
    'ter' : ['Pastel de frango', 'pão com ovo', 'miojo gourmet']   
    
    
}


print(exemplo['seg'])

['lasanha congelada', 'feijoada', 'sarapatel']